.counterDiv {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 45px;
  background-color: rgb(171, 187, 202);
  margin: 35px 0 35px;
}

.buttons {
  width: 250px;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 20px;
}

.buttons:hover {
  cursor: pointer;
  scale: 1.2;
}

.buttons.incrementBtn {
  background-color: green;
}

.buttons.decrementBtn {
  background-color: red;
}
